In [1]:
import numpy as np
import pandas as pd
train = pd.read_csv('train.csv',delimiter=',',encoding='utf-8')
train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

lets see the co-relation matrix between the different features

In [2]:
corr_matrix = train.corr()
corr_matrix['price'].sort_values(ascending =False)

price            1.000000
sqft_living      0.701825
grade            0.666636
sqft_above       0.604754
sqft_living15    0.588186
bathrooms        0.524705
view             0.399894
sqft_basement    0.324712
lat              0.308328
bedrooms         0.306140
waterfront       0.265634
floors           0.264295
yr_renovated     0.129521
sqft_lot         0.088578
sqft_lot15       0.080141
yr_built         0.048807
condition        0.040392
long             0.017731
id              -0.017402
zipcode         -0.049309
Name: price, dtype: float64

We can clearly see that there is very less strength related to to the price of the house with the features starting from the waterfronts to the zipcode so itis just better t remove them for now

In [3]:
train_new = train[['id','price','bedrooms','bathrooms','sqft_living','grade','sqft_living15','view','sqft_basement']]

In [4]:
train_new.head()

,id,price,bedrooms,bathrooms,sqft_living,grade,sqft_living15,view,sqft_basement
0,7129300520,221900.0,3,1.00,1180,7,1340,0,0
1,6414100192,538000.0,3,2.25,2570,7,1690,0,400
2,5631500400,180000.0,2,1.00,770,6,2720,0,0
3,2487200875,604000.0,4,3.00,1960,7,1360,0,910
4,1954400510,510000.0,3,2.00,1680,8,1800,0,0

In [5]:
train_new.plot(kind='scatter',x ='grade',y = 'price',alpha =0.4)
import matplotlib.pyplot as plt
plt.savefig('check.png')

In [6]:
train_new['price_per_sqft'] = train_new['price']/train_new['sqft_living']
corr_matrix = train_new.corr()
corr_matrix["price"].sort_values(ascending=False)

C:\Users\user 1\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

price             1.000000
sqft_living       0.701825
grade             0.666636
sqft_living15     0.588186
price_per_sqft    0.556877
bathrooms         0.524705
view              0.399894
sqft_basement     0.324712
bedrooms          0.306140
id               -0.017402
Name: price, dtype: float64

Here we can clearly find that the price persqft is very much inclined to the price and has a higher magnitude thus we will keep it for the training part

In [7]:
train_new['price_per_sqft_15'] = train_new['price']/train_new['sqft_living15']
corr_matrix = train_new.corr()
corr_matrix["price"].sort_values(ascending=False)

C:\Users\user 1\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

price                1.000000
price_per_sqft_15    0.776355
sqft_living          0.701825
grade                0.666636
sqft_living15        0.588186
price_per_sqft       0.556877
bathrooms            0.524705
view                 0.399894
sqft_basement        0.324712
bedrooms             0.306140
id                  -0.017402
Name: price, dtype: float64

Here we can clearly find that the price persqft is very much inclined to the price and has a higher magnitude thus we will keep it for the training part

In [8]:
###this is for the non - normalized part  

price = train_new['price'].values
price_per_sqft_15 = train_new['price_per_sqft_15'].values
sqft_living = train_new['sqft_living'].values
grade = train_new['grade'].values
sqft_living15 = train_new['sqft_living15'].values
price_per_sqft = train_new['price_per_sqft'].values
bathrooms =train_new['bathrooms'].values

In [9]:

#here the dataset is the pandas dataframe which contains the datas after the normalizing it(i.e putting each data between the values 
#0 and 1)

from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
#Scaling down both train and test data set
train_swap1=min_max.fit_transform(train_new[['price_per_sqft_15','sqft_living', 'grade',
                'sqft_living15', 'price','bathrooms','price_per_sqft']])

dataset = pd.DataFrame({'price_per_sqft_15':train_swap1[:,0],'sqft_living':train_swap1[:,1],'grade':train_swap1[:,2],'sqft_living15':train_swap1[:,3],'price':train_swap1[:,4],'bathrooms':train_swap1[:,5],'price_per_sqft':train_swap1[:,6]})
#dataset = pd.DataFrame({'Column1':data[:,0],'Column2':data[:,1]})

price = dataset['price'].values
price_per_sqft_15 = dataset['price_per_sqft_15'].values
sqft_living = dataset['sqft_living'].values
grade = dataset['grade'].values
sqft_living15 = dataset['sqft_living15'].values
price_per_sqft = dataset['price_per_sqft'].values
bathrooms =dataset['bathrooms'].values

In [10]:
print(dataset.head())

   price_per_sqft_15  sqft_living     grade  sqft_living15     price  \
0           0.065847     0.067170  0.500000       0.161934  0.019266
1           0.145618     0.172075  0.500000       0.222165  0.060721
2           0.013925     0.036226  0.416667       0.399415  0.013770
3           0.211303     0.126038  0.500000       0.165376  0.069377
4           0.127334     0.104906  0.583333       0.241094  0.057049

   bathrooms  price_per_sqft
0    0.12500        0.139039
1    0.28125        0.168501
2    0.12500        0.202308
3    0.37500        0.305273
4    0.25000        0.298918

In [11]:
#maaking a csv file to put all the datas here.
dataset.to_csv('dataset_final.csv',sep=',', encoding='utf-8')

In [51]:
dataset_test.head()

,price_per_sqft_15,sqft_living,grade,sqft_living15,price,bathrooms,price_per_sqft
0,0.381064,0.318314,0.428571,0.177062,0.205621,0.304348,0.400847
1,0.072564,0.241279,0.428571,0.247485,0.043203,0.391304,0.128358
2,0.083536,0.296512,0.285714,0.362173,0.082356,0.304348,0.170389
3,0.155386,0.388081,0.714286,0.422535,0.171053,0.434783,0.257489
4,0.172165,0.167151,0.428571,0.205231,0.095456,0.217391,0.393195

Applying the Linear Regression Model to our training datasets

the coefficeient coef is  [ 0.42825315  0.14883894 -0.01161778  0.17433164  0.04526166 -0.00941904]
the intercept of our model coming out to be -0.0604359480764462

In [71]:
#testing our model with the test datas which is present in the test.csv file
test = pd.read_csv('test.csv',delimiter=',',encoding='utf-8')
test['price_per_sqft'] = test['price']/test['sqft_living']
test['price_per_sqft_15'] = test['price']/test['sqft_living15']
test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sqft,price_per_sqft_15
0,3885802136,20140723T000000,899000.0,4,2.50,2580,3943,2.0,0,0,...,0,2013,0,98033,47.6853,-122.210,1700,5772,348.449612,528.823529
1,7967000150,20140808T000000,353500.0,4,3.00,2050,4000,2.0,0,0,...,0,2014,0,98001,47.3523,-122.275,2050,4000,172.439024,172.439024
2,7853360720,20140908T000000,485000.0,3,2.50,2430,5867,2.0,0,0,...,0,2011,0,98065,47.5162,-121.872,2620,5866,199.588477,185.114504
3,8562790150,20140626T000000,782900.0,4,3.25,3060,3898,2.0,0,0,...,760,2014,0,98027,47.5311,-122.073,2920,3448,255.849673,268.116438
4,1226039124,20150428T000000,529000.0,2,2.00,1540,9714,2.0,0,0,...,0,2008,0,98177,47.7628,-122.359,1840,8179,343.506494,287.500000

In [73]:
#normalozing the data set
#Scaling down the  test data set between the values  0 and  1
test_swap1=min_max.fit_transform(test[['price_per_sqft_15','sqft_living', 'grade',
                'sqft_living15', 'price','bathrooms','price_per_sqft']])

#storing thedatas in the pandas dataframe.

dataset_test = pd.DataFrame({'price_per_sqft_15':test_swap1[:,0],'sqft_living':test_swap1[:,1],'grade':test_swap1[:,2],'sqft_living15':test_swap1[:,3],'price':test_swap1[:,4],'bathrooms':test_swap1[:,5],'price_per_sqft':test_swap1[:,6]})
#dataset = pd.DataFrame({'Column1':data[:,0],'Column2':data[:,1]})
dataset_test.head()

,price_per_sqft_15,sqft_living,grade,sqft_living15,price,bathrooms,price_per_sqft
0,0.381064,0.318314,0.428571,0.177062,0.205621,0.304348,0.400847
1,0.072564,0.241279,0.428571,0.247485,0.043203,0.391304,0.128358
2,0.083536,0.296512,0.285714,0.362173,0.082356,0.304348,0.170389
3,0.155386,0.388081,0.714286,0.422535,0.171053,0.434783,0.257489
4,0.172165,0.167151,0.428571,0.205231,0.095456,0.217391,0.393195

In [83]:
price_test = dataset_test['price'].values
price_per_sqft_15_test = dataset_test['price_per_sqft_15'].values
sqft_living_test= dataset_test['sqft_living'].values
grade_test = dataset_test['grade'].values
sqft_living15_test = dataset_test['sqft_living15'].values
price_per_sqft_test = dataset_test['price_per_sqft'].values
bathrooms_test =dataset_test['bathrooms'].values

X_Test  =  np.array([price_per_sqft_15_test,sqft_living_test,grade_test,sqft_living15_test,price_per_sqft_test,bathrooms_test]).T
Y = np.array(price_test)

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
X  =  np.array([price_per_sqft_15,sqft_living,grade,sqft_living15,price_per_sqft,bathrooms]).T
Y = np.array(price)
reg = LinearRegression()
reg = reg.fit(X,Y)
coef = reg.coef_
intercept = reg.intercept_
print("the coefficeient coef is " ,coef)
print("the intercept of our model coming out to be" ,intercept)

the coefficeient coef is  [ 0.42825315  0.14883894 -0.01161778  0.17433164  0.04526166 -0.00941904]
the intercept of our model coming out to be -0.0604359480764462

In [76]:
Y_Test = np.array(price_test)
Y_pred = reg.predict(X_Test)
rmse = np.sqrt(mean_squared_error(Y_Test,Y_pred))
r2 =reg.score(X,Y)
reg = reg.fit(X,Y)
print(rmse)
print(r2)

0.04788927329632429
0.9192921215252319

here accuracy comes out to be 92% ,this is really great,thus cleaning the data has very much served out purpose.

In [111]:
for i in range(0,20):
    #print("Y_test -> ",Y_Test[i] , "Y_predicted -> ",Y_pred[i])
    d = (Y_pred[i]-Y_Test[i])/Y_Test[i]
    d_adjusted= max(d-0.1,0)
    final_value = max(1-d_adjusted,0)*10
    print("final value -> ",final_value)

final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  8.366632672127253
final value ->  10
final value ->  9.430745839475488
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  10
final value ->  9.190135586581114
final value ->  7.466140999996803
final value ->  10
final value ->  10

In [112]:
ten=0
nine=0
for i in range(0,len(test)):
    d = (Y_pred[i]-Y_Test[i])/Y_Test[i]
    d_adjusted= max(d-0.1,0)
    final_value = max(1-d_adjusted,0)*10
    if(final_value>=10.0):
        ten=ten+1
    if(final_value>=9):
         nine = nine+1
        
print("number of values equal to 10 is -> ",ten , " out of total length -> " ,len(test))
print("number of values greater than 9  is -> ",nine , " out of total length -> " ,len(test))

number of values equal to 10 is ->  397  out of total length ->  615
number of values greater than 9  is ->  486  out of total length ->  615

C:\Users\user 1\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in double_scalars
  after removing the cwd from sys.path.

#This is a model in which we adjust the value of alpha to get the right value of weights and then predicting the value of RMSE
#but this value coming is  not coming as accurately as being predicted by the sklearn.linear_model

In [68]:

#initializing the value of x0 i.e. the initializer to the number of examples.
x0 = np.ones(len(train_new))
#X = np.array([x0,bedrooms_test,bathrooms_test,size_test]).T
X= np.array([x0,price_per_sqft_15,sqft_living,grade,sqft_living15,price_per_sqft,bathrooms]).T
B= np.array([0,0,0,0,0,0,0])
Y =np.array(price)
def cost_function(X,Y,B):
    m = len(Y)
    J = np.sum((X.dot(B) -Y) ** 2)/(2*m)
    return J

#####
import math
initial_cost = cost_function(X,Y,B)
print(initial_cost)
def gradient_descent(X,Y,B,alpha,iterations):
    cost_history =[0] *iterations
    m = len(Y)
    
    for iteration in range(iterations):
        h = X.dot(B)
        loss= h-Y
        
        gradient = X.T.dot(loss)/m
        B=B- alpha *gradient
        alpha=alpha/(10)
        cost = cost_function(X,Y,B)
        #if iteration/1000==0:
        #print("iteration = ",iteration)
        cost_history[iteration] = cost
    return B,cost_history
########
###########
alpha=0.000000001
newB,cost_history = gradient_descent(X,Y,B,alpha,1000)
print(newB)
print(cost_history[-1])

# Model Evaluation - RMSE
def rmse(Y, Y_pred):
    rmse = np.sqrt(sum((Y - Y_pred) ** 2) / len(Y))
    return rmse

# Model Evaluation - R2 Score
def r2_score(Y, Y_pred):
    mean_y = np.mean(Y)
    ss_tot = sum((Y - mean_y) ** 2)
    ss_res = sum((Y - Y_pred) ** 2)
    r2 = 1 - (ss_res / ss_tot)
    return r2

#########


Y_pred = X.dot(newB)
print(rmse(Y, Y_pred))
print(r2_score(Y, Y_pred))

#############

0.0030026445063090126
[6.75162142e-11 1.09180893e-11 1.16653937e-11 4.08348565e-11
 2.20696994e-11 2.10498718e-11 2.04081270e-11]
0.0030026444992639284
0.07749379974248166
-1.59637281505525

We tried using the Linear regression Model and our data clearly showed 91% accuracy,lets try to use the RandomForestRegression and lets see how accurate does it performs

In [80]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(random_state=42)
forest_reg.fit(X, Y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [109]:
#used to calculate the weights
print(forest_reg.feature_importances_)
s=0.381064*0.4927674 + 0.318314*0.03406982 + 0.428571*0.19251616 +0.177062*0.23744996 +0.304348*0.04257601 +0.400847*0.00062064
print(s)

[0.4927674  0.03406982 0.19251616 0.23744996 0.04257601 0.00062064]
0.33637773039552005

In [84]:
#test = pd.read_csv('test.csv',delimiter=',',encoding='utf-8')

print('Random Forest R squared": %.4f' % forest_reg.score(X_Test, Y_Test))

Random Forest R squared": 0.8002

Here we clearly find that the accuracy predicted by the Random forest Algorithm is 99%,thats huge almost all correct over 20,000+ datasets.

In [85]:
y_pred = forest_reg.predict(X_Test)
forest_mse = mean_squared_error(y_pred, Y_Test)
forest_rmse = np.sqrt(forest_mse)
print('Random Forest RMSE: %.4f' % forest_rmse)

Random Forest RMSE: 0.0500

In [113]:
for i in range(0,20):
    print("Y_test -> ",Y_Test[i] , "Y_predicted -> ",Y_pred[i])
    d = (y_pred[i]-Y_Test[i])/Y_Test[i]
    d_adjusted= max(d-0.1,0)
    final_value = max(1-d_adjusted,0)*10
    print("final value -> ",final_value)

Y_test ->  0.20562138986482462 Y_predicted ->  0.19129841324953056
final value ->  10
Y_test ->  0.043202524861549456 Y_predicted ->  0.046840865316971306
final value ->  10
Y_test ->  0.0823557434645388 Y_predicted ->  0.08413548331434353
final value ->  10
Y_test ->  0.17105341511344013 Y_predicted ->  0.13679222405200503
final value ->  10
Y_test ->  0.09545644018340976 Y_predicted ->  0.0847212263867359
final value ->  10
Y_test ->  0.0911987137497767 Y_predicted ->  0.1152146850630448
final value ->  10
Y_test ->  0.05982135413565177 Y_predicted ->  0.05770727143365381
final value ->  10
Y_test ->  0.05365271243970702 Y_predicted ->  0.06207218666165057
final value ->  10
Y_test ->  0.06151372595724409 Y_predicted ->  0.06600295438501325
final value ->  10
Y_test ->  0.09322336687905675 Y_predicted ->  0.09015503179679862
final value ->  10
Y_test ->  0.11064133865301018 Y_predicted ->  0.10099936605574208
final value ->  10
Y_test ->  0.20072827964032633 Y_predicted ->  0.1643377999607654
final value ->  10
Y_test ->  0.09426546775442149 Y_predicted ->  0.08614457541492546
final value ->  10
Y_test ->  0.09128803668195082 Y_predicted ->  0.09686106374580097
final value ->  10
Y_test ->  0.11344310129220508 Y_predicted ->  0.1040177987608003
final value ->  10
Y_test ->  0.1634907401893646 Y_predicted ->  0.1417486568892487
final value ->  10
Y_test ->  0.02250937890787829 Y_predicted ->  0.026583271293231348
final value ->  10
Y_test ->  0.03873637825284345 Y_predicted ->  0.052425268144477344
final value ->  10
Y_test ->  0.05094384564997321 Y_predicted ->  0.053511681139008976
final value ->  10
Y_test ->  0.10170904543559817 Y_predicted ->  0.09883032374828776
final value ->  10

In [87]:
count=0
for i in range(0,len(test)):
    d = (y_pred[i]-Y_Test[i])/Y_Test[i]
    d_adjusted= max(d-0.1,0)
    final_value = max(1-d_adjusted,0)*10
    if(final_value>=10.0):
        count=count+1
print("number of values equal to 10 is -> ",count , " out of total length -> " ,len(test))

number of values equal to 10 is ->  594  out of total length ->  615

C:\Users\user 1\Anaconda3\envs\env_dlib\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in double_scalars
  This is separate from the ipykernel package so we can avoid doing imports until

Random Forest R squared": 0.8002

Random Forest RMSE: 15651.4169

In [131]:
print(y_pred[1])
print(Y_Test[1])

353040.0
353500.0